
.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

body {
  margin-left: 100px;
}

div.image {
  content:url(../img/Header.png);
  height: 250px;
}

ul {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
}

label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}